.post-content {
  @apply tw-pb-4;

  img {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }

  pre {
    font-size: theme('fontSize.base');
    background: theme('backgroundColor.gray.950');
    border: solid 1px theme('borderColor.gray.800');
    padding: theme('padding.3');
  }

  .image-container {
    text-align: center;
  }

  .image-description {
    padding: theme('padding.3');
    color: theme('borderColor.gray.500');
    font-size: theme('fontSize.sm');
  }

  @media (max-width: 640px) {
    p, h1, h2, h3, h4, h5, h6, pre {
      padding-left: theme('padding.3');
      padding-right: theme('padding.3');
    }

    pre {
      margin-left: theme('padding.3');
      margin-right: theme('padding.3');
    }
  }
}

.sm-margin-side {
  @media (max-width: 640px) {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}

.post-list {
  @media (max-width: 640px) {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}

.post-list-item {
  list-style: none;
  .post-list-summary {
    font-size: 0.85rem;
    line-height: 1.2rem;
    color: rgb(var(--foreground-secondary-rgb));
    max-height: 3.6rem;
    display: block;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    transition: color 0.5s ease-in-out;
  }
  &:hover {
    .post-list-summary {
      color: rgb(var(--foreground-rgb));
    }
  }
}
